<section class="mt-5">
  <h1 class="text-center text-semibold text-xl">New project</h1>
  <section class="flex justify-center items-center">
    <div class="mt-4">
      <%= render "form", project: @project %>
      <br>
      <span class="text-cyan-700">
        <%= link_to "Back to projects", projects_path %>
      </span>
    </div>
  </section>
</section>